
textArea,
.textGrid {
	position: relative; 
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono, Bitstream Vera Sans Mono,Courier New, monospace !important;
	font-size: 14;
	color: #7FFF00;
	resize: none;
	margin: 0px 0px 0px 0px;
	display:inline-block;
	background: black;
	border: 1px;
	border-style: solid;
	border-color: #4f4f4f;
}

.textGrid {
	height: 25px;
    width: 25px;
	text-align: center; 
}

.greenHighlight:focus{
    border-color: #7FFF00;
} 

.greenHighlight{
	color: #7FFF00;
	background-color: #000000;
} 

.blueHighlight:focus{
    border-color: #4298f4;
}

.blueHighlight{
	color: #4298f4;
	background-color: #000000;
}

.yellowHighlight:focus{
    border-color: #f4df42;
}

.yellowHighlight{
	color: #f4df42;
	background-color: #000000;
} 

.gridDiv {
	font-size: 0;
	white-space: nowrap;
}

.ascii-art {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono, Bitstream Vera Sans Mono,Courier New, monospace !important;
    white-space: pre;
}